header{
    background-color: #BBBBBB;
}

nav li{
    display: inline; /* para que cada item li ocupe solo el tamaño de su contenido y no todo el width */
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}